<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
    

    <session-config>
        <session-timeout>
            120
        </session-timeout>
    </session-config>

    <welcome-file-list>
  <!--      <welcome-file>welcome.jsp</welcome-file>   -->
    <welcome-file>index.jsp</welcome-file>  
    </welcome-file-list>


    <context-param>
        <param-name>
            applicationTitle
        </param-name>
        <param-value>
            eTraveler
        </param-value>
    </context-param>
    
     <context-param>
        <param-name>
            version
        </param-name>
        <param-value>
            ${pom.version}
        </param-value>
    </context-param>

    
    <!-- Default database connection -->
    <context-param>
      <param-name>
        javax.servlet.jsp.jstl.sql.dataSource
      </param-name>
      <param-value>
        jdbc/rd-lsst-cam-dev
      </param-value>
    </context-param>
    <!--
    <context-param>
        <param-name>
            file-upload
        </param-name>
        <param-value>
            /u1/jrb/sys/apache-tomcat-7.0.27/webapps/uploaded
        </param-value>
    </context-param>
    -->


    <filter>
        <filter-name>ModeSwitcherFilter</filter-name>
        <filter-class>org.srs.web.base.filters.modeswitcher.ModeSwitcherFilter</filter-class>
        <init-param>
            <param-name>experiment</param-name>
            <param-value>${experiment.name}</param-value>
        </init-param>
        <init-param>
            <param-name>configDb</param-name>
            <param-value>${experiment.configuration.database}</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>ModeSwitcherFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <!-- Login Filter -->


    <filter>
        <filter-name>LoginFilter</filter-name>
        <filter-class>org.srs.web.base.filters.login.LoginFilter</filter-class>
        <init-param>
            <param-name>configDb</param-name>
            <param-value>${experiment.configuration.database}</param-value>
        </init-param>

        <init-param>
            <param-name>requireLogin</param-name>
            <param-value>true</param-value>
        </init-param>


    </filter>

    <filter-mapping>
        <filter-name>LoginFilter</filter-name>
        <url-pattern>*.jsp</url-pattern>
    </filter-mapping>


     <!-- Load the Multipart Filter -->
     <filter>
         <filter-name>MultipartFilter</filter-name>
         <filter-class>org.srs.web.base.filters.multipart.MultipartFilter</filter-class>
     </filter>
     <filter-mapping>
         <filter-name>MultipartFilter</filter-name>
         <url-pattern>/*</url-pattern>
     </filter-mapping>
     
     
    <servlet>
      <servlet-name>ExperimentContextServlet</servlet-name>
      <servlet-class>org.srs.web.base.filters.experimentcontext.ExperimentContextServlet</servlet-class>
    </servlet>
    <servlet-mapping>
      <servlet-name>ExperimentContextServlet</servlet-name>
      <url-pattern>/exp/*</url-pattern>
    </servlet-mapping>

    <filter>
      <filter-name>ExperimentContextFilter</filter-name>
      <filter-class>org.srs.web.base.filters.experimentcontext.ExperimentContextFilter</filter-class>
    </filter>
    <filter-mapping>
      <filter-name>ExperimentContextFilter</filter-name>
      <url-pattern>/*</url-pattern>
    </filter-mapping> 

    <!-- Adding Sitemesh Filter -->
    
    <filter>
        <filter-name>sitemesh</filter-name>
        <filter-class>com.opensymphony.module.sitemesh.filter.PageFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>sitemesh</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
   
    <!-- Done adding Sitemesh Filter -->
    
  
    
    <!-- Servlets -->
    <!-- Locally defined servlet needed for creating circle-and-arrow images -->
    <servlet>
      <servlet-name>TravelerImageServlet</servlet-name>
      <servlet-class>org.lsstcorp.etravelerbackendnode.TravelerImageServlet</servlet-class>
    </servlet>
    
    <servlet-mapping>
      <servlet-name>TravelerImageServlet</servlet-name>
      <url-pattern>/TravelerImageServlet</url-pattern>
    </servlet-mapping>
    
    <!-- Icons for tree display -->
    <servlet>
       <servlet-name>fhicon</servlet-name>
       <servlet-class>org.freehep.webutil.tree.IconServlet</servlet-class>
       <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>fhicon</servlet-name>
        <url-pattern>/icon.jsp</url-pattern>
    </servlet-mapping>

    <!-- insist on newish compiler -->
    <servlet>
      <servlet-name>jsp</servlet-name>
      <servlet-class>org.apache.jasper.servlet.JspServlet</servlet-class>
      <init-param>
        <param-name>fork</param-name>
        <param-value>false</param-value>
      </init-param>
      <init-param>
        <param-name>xpoweredBy</param-name>
        <param-value>false</param-value>
      </init-param>
      <init-param>
        <param-name>compilerSourceVM</param-name>
        <param-value>1.7</param-value>
      </init-param>
      <init-param>
        <param-name>compilerTargetVM</param-name>
        <param-value>1.7</param-value>
      </init-param>
      <load-on-startup>3</load-on-startup>
    </servlet>
    
  
 
    
    <context-param>
      <param-name>org.srs.web.base.datasource.mode</param-name>
      <param-value>dataSourceMode</param-value>
    </context-param>
    <context-param>
      <param-name>org.srs.web.base.datasource.variable</param-name>
      <param-value>etravelerDb</param-value>  
    </context-param>
    
    <listener>
      <listener-class>org.srs.web.base.datasource.DefaultDataSourceSwitcher</listener-class>
    </listener>

    <!-- The mappings for the JSP servlet 
    <servlet-mapping>
      <servlet-name>jsp</servlet-name>
      <url-pattern>*.jsp</url-pattern>
      <url-pattern>*.jspx</url-pattern>
    </servlet-mapping>
-->

</web-app>
